/* =========================
   TOPBAR
========================= */

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 24px;
}

.topbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mobile-menu-button {
  display: none;
}

.mobile-menu-button {
  display: none;
}

/* =========================
   SEARCH BAR
========================= */

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;
  max-width: 550px;

  padding: 10px 25px;

  border: 1px solid var(--color-border-primary);
  border-radius: 999px;

  background: var(--color-surface-primary);
}

.search-input {
  flex: 1;

  height: 32px;

  border: none;
  outline: none;

  background: transparent;

  font-size: 14px;
  font-weight: 400;

  color: var(--color-text-muted);
}

.search-logo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.search-divider {
  width: 1px;
  height: 18px;
  background: var(--color-border-primary);
}

/* =========================
   USER PROFILE
========================= */

.bell-button {
  width: 62px;
  height: 62px;

  border: 1px solid var(--color-border-primary);
  border-radius: 50%;

  background: var(--color-surface-primary);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bell-button:hover {
  background: var(--color-surface-blue);
  border-color: var(--color-border-primary);
}

.bell-button svg {
  width: 25px;
  height: 25px;

  color: var(--brand-blue);
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 6px 25px 6px 10px;

  border: 1px solid var(--color-border-primary);
  border-radius: 999px;

  transition: var(--transition-hover);
  cursor: pointer;

  background: var(--color-surface-primary);
}

.user-profile:hover {
  background: var(--color-surface-blue);
  border-color: var(--color-border-primary);
}

.avatar {
  width: 45px;
  height: 45px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 2px;

  line-height: 1.1;
}

.user-name {
  font-size: 15px;
  font-weight: 500;

  color: var(--color-text-primary);
}

.user-role {
  font-size: 12px;
  color: var(--color-text-muted);
}

/* =========================
   MEDIA QUERIES
========================= */

@media (max-width: 768px) {
  .mobile-menu-button {
    display: flex;
  }

  .user-info {
    display: none;
  }

  .user-profile {
    padding: 6px;
  }
    .bell-button {
    width: 59px;
    height: 59px;
  }

  .mobile-menu-button {
  width: 48px;
  height: 48px;

  border: 1px solid var(--color-border-primary);
  border-radius: 50%;

  background: var(--color-surface-primary);

  display: flex;
  align-items: center;
  justify-content: center;
}
}
